<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>TP2</title>
	 <!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <link rel="stylesheet" href="style/style.css"/>
</head>
<body>

<header>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><h4 style="font-family:sans-serif;padding-left:50px; text-align:center">Trabalho Prático 2 </h4></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
		<li><a href="/encomendas" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Encomenda</a></li>
		<li><a href="/logOperations" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Log Operations</a></li>
      </ul>
    </div>
  </nav> 
</header>

	
	<img src="https://thumbs.dreamstime.com/b/log%C3%B3tipo-engra%C3%A7ado-de-um-entregador-com-encomenda-num-emblema-logotipo-animado-em-198773769.jpg" width="800" height="600" class="center">
	

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>


</html>